{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/static.css" %}">
</head>
<body>
    <h2>Menu</h2>
    <menu>
        <li><a href="/" >Главная</a></li>
        {% if user.is_authenticated %}<li><a href="/accounts/lk/" >Личный кабинет</a></li>{% endif %}
        <li><a href="/news/all/" >Новости</a></li>
        {% if user.is_authenticated %}<li><a href="/message/all/{{ user.id }}/" >Сообщения</a></li>{% endif %}
    </menu>

   <div class="login"> {% if user.is_active %}

       <p class="text-right">{{ user.username }}<a href="/accounts/logout/">(Logout)</a></p>

    {% else %}
        <p class="text-right">
            <a href={% url 'login' %}>Login</a>
            <a href={% url 'register' %}>Register</a>
        </p>
    {% endif %}
   </div>
{% block content %}


{% endblock %}


</body>
{% block js_content %}



{% endblock %}
</html>