{% extends 'main.html' %}
{% block content %}
<h1>{{ news.title }}</h1>
    <h2>{{ news.text }}</h2>
    <h5><a href="/news/add_like/{{ news.id }}/">like: </a>{{ news.likes }}</h5>
    <h5><a>Отправитель: </a>{{ news.avtor}}</h5>
<hr>

<h2>Комментарии:</h2>

{% for comment in news.comments_set.all %}
    <hr>
    <h3>{{ comment.title }}</h3>
    <h4>{{ comment.text }}</h4>
    <h5>Отправитель: {{ comment.avtor }}</h5>
    <hr>
    <br />
{% endfor %}
    {% if user.is_active %}<form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn_go" type="submit">add</button>
    </form>
    {% else %}
        <label>Только зарегистрированные пользователи могу оставлять комментарии.</label>
    {% endif %}


{% endblock %}