{% extends 'main.html' %}

{% block content %}

<div class="chat"><h2 align="center">{{ message2.0.sender }}</h2>
{% for i in message3 %}
    {% if i.sender == message2.0.sender %}
   <p class="text-right"><label>{{ i.date }}'''''{{ i.text }}'''''{{ i.sender }}</label></p>
    <br>
    {% else %}
   <p class="text-left"><label>{{ i.date }}'''''{{ i.text }}'''''{{ i.sender }}</label></p>
    <br>
    {% endif %}
{% endfor %}
</div>



    {% if user.is_authenticated %}
    <h1>Отправка сообщения:</h1>
    <form class="form-group" method="post">
    {% csrf_token %}
    <label>Ваше сообщение:</label><br>{{ form.text }}<br>

{#    <label>Кому вы хотите отправить сообщение:</label><br>{{ form.asker }}<br>#}


    <button class="btn btn-primary" type="submit">Отправить</button>

    </form>
    {% endif %}

{% endblock %}